.menu {
  margin-top: 30px;
  height: 0;
  z-index: 4;
  position: absolute;
}

.ul,
.bar {
  width: 50px;
  margin-left: 30px;
  background-color: #444;
  border-radius: 24px;
  cursor: pointer;
}

.bar {
  text-align: center;
  border-radius: 50%;
}

.link {
  width: 154px;
  display: flex;
  align-items: center;
}

.link span {
  margin-left: 20px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.link:hover i,
.link:hover span {
  color: #2196f3;
  transition: all 0.2s linear;
}

.link:hover i {
  border-right: 4px solid #2196f3;
}

.ul {
  padding: 10px 0;
  /* display: none; */
}

.li {
  width: 250px;
}

.close {
  display: inline;
}

.fa_solid {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  margin: 16px 0;
  width: 50px;
  text-align: center;
}

.fa_bars {
  display: flex;
  height: 50px;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.fa_bars:hover,
.fa_xmark:hover {
  color: rgba(255, 255, 255, 0.5);
}

.menu__li span {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  width: 200px;
}

.model {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: -1;
  animation: model 0.5s linear;
}

@keyframes model {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

@media (min-width: 1025px) {
  .about__image {
    position: relative;
  }

  .about__title p {
    display: inline;
  }

  .about__title p::before {
    left: -10%;
  }

  .about__title p::after {
    right: -10%;
  }

  .contact__li {
    font-size: 19px;
  }

  #contact {
    top: 0;
    bottom: 0;
  }

  .content__text h1 {
    font-size: 42px;
  }

  .content__text p {
    font-size: 20px;
  }
}

/* PC medium resolution > */
@media (max-width: 1024px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }

  .about__content,
  .about__self2 {
    display: block;
  }

  .about__image::before {
    content: none;
  }

  .about__content {
    padding-left: 0;
  }

  .about__title p {
    display: inline;
  }

  .about__title p::before {
    left: -10%;
  }

  .about__title p::after {
    right: -10%;
  }

  .about__image {
    text-align: center;
  }

  .about__self1 {
    justify-content: center;
    margin-left: 0;
  }

  .about__title p::after,
  .about__title p::before {
    content: none;
  }

  #contact {
    padding-right: 0;
    top: 0;
    bottom: 0;
    height: max-content !important;
  }

  .contact__form-title {
    text-align: justify;
  }

  .self__li {
    margin-top: 0;
  }

  .content__link-home {
    margin: auto;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1024px) {
  .wide {
    width: 644px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about__image::before {
    left: 8%;
  }

  .content__image img {
    width: 250px;
    height: 250px;
  }

  .content__text h1 {
    font-size: 24px;
  }
}

/* >= Tablet */
@media (max-width: 769px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }

  .content__image img {
    width: 200px;
    height: 200px;
  }

  #contact {
    padding-left: 0;
    height: max-content;
  }

  .contact__container {
    display: block;
  }

  .contact__left {
    padding: 0 60px;
    margin-bottom: 40px;
  }

  .contact__title {
    padding: 0 60px;
  }

  .about__title p {
    line-height: 2;
  }
}

@media (max-width: 630px) {
  .s-0 {
    display: none;
  }

  .s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .s-o-1 {
    margin-left: 8.33333%;
  }

  .s-o-2 {
    margin-left: 16.66667%;
  }

  .s-o-3 {
    margin-left: 25%;
  }

  .s-o-4 {
    margin-left: 33.33333%;
  }

  .s-o-5 {
    margin-left: 41.66667%;
  }

  .s-o-6 {
    margin-left: 50%;
  }

  .s-o-7 {
    margin-left: 58.33333%;
  }

  .s-o-8 {
    margin-left: 66.66667%;
  }

  .s-o-9 {
    margin-left: 75%;
  }

  .s-o-10 {
    margin-left: 83.33333%;
  }

  .s-o-11 {
    margin-left: 91.66667%;
  }

  .content {
    position: absolute;
  }

  #home {
    text-align: center;
    display: block;
    padding: 130px 0;
    margin: 0;
  }

  .home {
    position: relative;
  }

  #about {
    width: max-content;
    padding: 68px 50px;
  }

  .content__text {
    margin: 0 8%;
  }

  .about__title p::after,
  .about__title p::before {
    content: none;
  }

  #contact {
    position: relative;
  }

  .contact__li {
    font-size: 20px;
  }

  .contact__title {
    padding: 0 60px;
  }

  .contact__title p {
    line-height: 2;
  }

  .auth-form__froup {
    display: block;
  }

  .auth-form__froup1 {
    margin-bottom: 24px;
  }
}
